#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cards-board{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-around;
  gap: 10px;
  border-radius: 5px;
  border: 2px white solid;
  
}

img {
  background-color: rgb(182, 177, 177);
  width: 150px;
  height: auto;
  border-radius: 5px;
  border: 2px white solid;
}


button{
  all: unset;
  display: flex;
}

button:hover {
  outline: black auto 5px;
}

.card{
  margin: 0.3rem;
}


.title{
  
  flex-direction: column;
}

.score{
  display: flex;

}